alias c='clear'
alias arag='sshpass -p Irma9139 ssh vicente.flores@aragorn.elo.utfsm.cl'
alias ll='ls -la'
alias nalias='vim ~/.aliases'
alias j='java'
alias jc='javac'
alias jp='cd ~/OneDrive/USM/Semestre7/POO/Java\ Projects/'
alias rmc='rm .class || rm src/.class'
alias cdt='cd ~/Onedrive/Documents/Testeos/'
alias tp='/Users/vflores/Onedrive/Documents/Docs\ de\ todo/Testeos/testeos\ python'
alias p='/usr/bin/python3'
alias c.='cd ..'
alias poo='cd ~/OneDrive/USM/Semestre7/POO/'
alias jcfx='javac --module-path /Users/vflores/Documents/javafx-sdk-18.0.1/lib --add-modules javafx.controls'
alias jfx='java --module-path /Users/vflores/Documents/javafx-sdk-18.0.1/lib --add-modules javafx.controls'
alias jfxp='cd ~/OneDrive/USM/Semestre7/POO/JavaFX\ Projects'
alias usm='cd ~/OneDrive/USM'
alias cppt='cd ~/OneDrive/Documents/Testeos/testeos\ cpp'
alias home='cd /home'
alias cpp='g++'
alias sem='cd ~/OneDrive/USM/2025/2\(Sem13\)/'
alias pp='ping 1.1.1.1'
alias p3='python3'
alias pdi='sem && cd PDI/'
alias mirage='cd ~/Documents/projects/MIRAGE/'
alias flow='cd ~/Documents/projects/flow/'
alias cap='flow && cd captura-imagen'
